@import "./../../../../assets/sass/mixin.scss";

.list-tile {
  margin-top: 4rem;

  .card-top {
    position: relative;
  }

  .title {
    padding-right: 7.5rem;

    @media #{$largeMobileScreen} {
      padding-right: 4rem;
    }
  }

  .outline-container {
    display: flex;
    align-items: center;

    &:hover {
      transition: 0.2s;

      .outline-bar {
        background-color: $blue300;
      }
    }
  }
}
