@import "./../../../../assets/sass/mixin.scss";

.list-tile {
  margin-top: 4rem;

  .card-top {
    position: relative;
  }

  .title {
    padding-right: 7.5rem;

    @media #{$largeMobileScreen} {
      padding-right: 4rem;
    }
  }
}
