@import "./../../assets/sass/mixin.scss";

.adrenalin-nav-item {
  padding-left: 26px;
  padding-right: 7px;
  font-size: .875rem;
  line-height: .875rem;
  color: black;

  &:hover {
    color: $gray500;
    text-decoration: none;
  }

  @media #{$tabletMobileScreen} {
    padding: 1rem 0;
  }
}
