@import "../../assets/sass/mixin.scss";

.adrenalin-card {
  padding-top: 4rem;

  > .card-top {
    position: relative;

    > img {
      height: 390px;
    }
  }

  > .title {
    padding-right: 7.5rem;

    @media #{$largeMobileScreen} {
      padding-right: 4rem;
    }
  }
}

.outline-text {
  color: $blue500;

  &:hover {
    text-decoration: none;
    color: $blue300;
    transition: 0.2s;
  }
}
