@import "./../../assets/sass/mixin.scss";

.adrenalin-card {
  font-size: .75rem;
  line-height: .75rem;
  text-transform: uppercase;
  color: $gray700;
  background: $gray100;
  margin-bottom: 0px;
  padding-left: .625rem;
  padding-bottom: .75rem;

  white-space: nowrap;
  position: absolute;
  top: -1px;
  right: calc(100% + 0.5px);
  transform: rotate(-90deg);
  transform-origin: right top;
}
