// These styles are composed of default tag styles to be used
// And styles that are used by the whole web application

@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');
@import "mixin.scss";

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $gray100;
  font-size: 16px;
}

#App {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 77px;
  padding-left: 77px;

  @media #{$smallLaptopScreen} {
    padding-right: 30px;
    padding-left: 30px;
  }

  @media #{$tabletMobileScreen} {
    padding-right: 15px;
    padding-left: 15px;
  }
}

.main-page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 2rem;
}

h1 {
  font-size: 4.25rem;
  line-height: 4.625rem;
  letter-spacing: -1.9125px;
  font-weight: 700;
  margin-bottom: 0;

  @media #{$largeMobileScreen} {
    // 75% of normal font size
    font-size: 2.5rem;
    line-height: 2.75rem;
  }
}

h2 {
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.25rem;
  letter-spacing: -0.5px;
  margin-bottom: 0;

  @media #{$largeMobileScreen} {
    // 75% of normal font size
    font-size: 1.5rem;
    line-height: 2rem;
  }
}

h3 {
  font-size: 1.625rem;
  font-weight: 700;
  line-height: 2rem;
  letter-spacing: -0.2px;
  color: $gray800;
  margin-bottom: 0px;

  @media #{$largeMobileScreen} {
    // 75% of normal font size
    font-size: 1.25rem;
    line-height: 1.5rem;
  }
}

small {
  font-size: 13px;
  line-height: 13px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  font-weight: 700;
}

p {
  font-weight: 300;
  font-size: 17px;
  line-height: 28px;
  color: $gray900;
  margin-top: 10px;
  font-family: 'Merriweather', serif;
  margin-bottom: 0;
}

img {
  width: 100%;
  object-fit: cover;
}

button:focus {
  outline: none;
}

a:hover {
  text-decoration: none;
}

.logo {
  width: 100px;

  &.footer {
    width: 83px;
  }
}

hr.outline-bar {
  width: 32px;
  height: 2px;
  margin: 0;
  border: none;
  margin-right: 1rem;
  background-color: $gray400;

  &.blue {
    background-color: $blue500;
  }
}

.outline-text {
  color: $blue500;
  line-height: 13px;

  &:hover {
    text-decoration: none;
    color: $blue300;
    transition: 0.2s;
  }
}
