$spacers: (
    "5":  2.5rem
);

@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import "mixin.scss";

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $gray100;
  font-size: 16px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.logo {
  width: 100px;

  &.footer {
    width: 83px;
  }
}

.App {
  width: 100%;
  padding-right: 77px;
  padding-left: 77px;
  margin-right: auto;
  margin-left: auto;
}

.adrenalin-nav-link {
  padding-left: 26px;
  padding-right: 7px;
  font-size: .875rem;
  line-height: .875rem;
  color: black;

  &:hover {
    color: $gray500;
    text-decoration: none;
  }
}

.adrenalin-card {
  padding-top: 4rem;

  .tag {
    font-size: .75rem;
    line-height: .75rem;
    text-transform: uppercase;
    color: $gray700;
    background: $gray200;
    margin-bottom: 0px;
    padding-left: .625rem;
    padding-bottom: .75rem;

    white-space: nowrap;
    position: absolute;
    top: 0;
    right: calc(100%);
    transform: rotate(-90deg);
    transform-origin: right top;
  }

  > .card-top {
    position: relative;

    > img {
      height: 390px;
      width: 100%;
      object-fit: cover;
    }
  }

  > .title {
    padding-right: 7.5rem;
  }

  .outline-text {
    font-size: 13px;
    line-height: 13px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    font-weight: 700;
    color: $blue500;

    &:hover {
      text-decoration: none;
      color: $blue300;
      transition: 0.2s;
    }
  }

  hr {
    width: 32px;
    height: 2px;
    margin: 0;
    border: none;
    background-color: $blue500;
    margin-right: 1rem;
  }
}

h1 {
  font-size: 4.25rem;
  line-height: 4.625rem;
  letter-spacing: -1.9125px;
  font-weight: 700;
}

h3 {
  font-size: 1.625rem;
  font-weight: 700;
  line-height: 2rem;
  letter-spacing: -0.2px;
  color: $gray800;
  margin-bottom: 0px;
}

.adrenalin-footer {
  margin-top: 6.25rem;
  border-top: 2px solid black;
  padding-bottom: 53px;
}

.image-col {
  margin-top: 63px;

  .tag {
    font-size: .75rem;
    line-height: .75rem;
    text-transform: uppercase;
    color: $gray700;
    background: $gray200;
    margin-bottom: 0px;
    padding-left: .625rem;
    padding-bottom: .75rem;

    white-space: nowrap;
    position: absolute;
    top: 0;
    right: calc(100% - 15px);
    transform: rotate(-90deg);
    transform-origin: right top;
  }

}

.detail-col {
  margin-top: 160px;

  h1 {
    padding-right: 120px;
  }
}