$spacers: (
    "5":  2.5rem
);

@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');
@import "mixin.scss";
@import "base.scss";

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.logo {
  width: 100px;

  &.footer {
    width: 83px;
  }
}

.navbar-nav {
  @media #{$largeMobileScreen} {
    padding-top: 1rem;
  }
}

.adrenalin-nav-link {
  padding-left: 26px;
  padding-right: 7px;
  font-size: .875rem;
  line-height: .875rem;
  color: black;

  &:hover {
    color: $gray500;
    text-decoration: none;
  }

  @media #{$largeMobileScreen} {
    padding: 1rem 0;
  }
}

.tag {
  font-size: .75rem;
  line-height: .75rem;
  text-transform: uppercase;
  color: $gray700;
  background: $gray100;
  margin-bottom: 0px;
  padding-left: .625rem;
  padding-bottom: .75rem;
}

hr.outline-bar {
  width: 32px;
  height: 2px;
  margin: 0;
  border: none;
  margin-right: 1rem;
  background-color: $gray400;

  &.blue {
    background-color: $blue500;
  }
}

.adrenalin-footer {
  margin-top: 6.25rem;
  border-top: 2px solid black;
  padding-bottom: 53px;

  .adrenalin-footer-row {
    display: flex;
    justify-content: space-between;

    @media #{$largeMobileScreen} {
      display: block;

      .footer-link-container {
        display: flex;
        flex-wrap: wrap;
        padding-top: 1rem;
        > .adrenalin-nav-link {
          width: 50%;
        }
      }
    }
  }
}

.detail-page, .list-page, .main-page {
  min-height: 400px;
}

///////////////////////////////////////
//////////// List Page Styles /////////

.adrenalin-card {
  padding-top: 4rem;

  .tag {
    white-space: nowrap;
    position: absolute;
    top: -1px;
    right: calc(100% + 0.5px);
    transform: rotate(-90deg);
    transform-origin: right top;
  }

  > .card-top {
    position: relative;

    > img {
      height: 390px;
    }
  }

  > .title {
    padding-right: 7.5rem;
  }
}

.outline-text {
  color: $blue500;

  &:hover {
    text-decoration: none;
    color: $blue300;
    transition: 0.2s;
  }
}

///////////////////////////////////////
//////////// Detail Page Styles /////////

.detail-col {
  margin-top: 160px;

  @media #{$laptopScreen} {
    margin-top: 100px !important;
  }

  h1 {
    padding-right: 120px;

    @media #{$laptopScreen} {
      padding-right: 0px !important;
    }
  }

  .content-item {
    margin-top: 30px;

    .date {
      padding-top: 10px;
      color: $gray400;
    }
  }

  .sort-container {
    cursor: pointer;
    display: flex;
    margin-top: 1px;
    align-items: center;

    .refresh-icon {
      margin-left: 5px;
    }
  }
}

.image-col {
  margin-top: 63px;

  .tag {
    white-space: nowrap;
    position: absolute;
    top: -1px;
    right: calc(100% - 14.5px);
    transform: rotate(-90deg);
    transform-origin: right top;
  }

  .image-container {
    
  }

}