$mobileScreen: (max-width: 358px);
$largeMobileScreen: (max-width: 426px);
$smallTabletMobileScreen: (max-width: 574px);
$tabletMobileScreen: (max-width: 769px);
$smallLaptopScreen: (max-width: 800px);
$laptopScreen: (max-width: 1024px);
$colorPrimary: #0076F9;
$colorSecondary: #FF3B30;
$colorTertiary: #f88561;
$colorQuad: #ffc800;
$colorGreen: #38ad6f;
$gray100: #F5F5F5;
$gray200: #E5E5E5;
$gray300: #BDBDBD;
$gray400: #A2A2A2;
$gray500: #888888;
$gray600: #6E6E6E;
$gray700: #6C6C6C;
$gray800: #584f4f;
$colorBlue: #3852F7;
$colorLightestBlue : #e3f9ff;
$colorRed: rgb(218, 0, 73);